# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_df.head()

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Iqaluit,63.75,-68.51,10.40,66,40,17.22,CA,1607900752
1,1,Clyde River,70.47,-68.59,-2.20,70,90,6.93,CA,1607900759
2,2,S達o Jo達o da Barra,-21.64,-41.05,75.97,83,97,20.51,BR,1607900759
3,3,Anadyr,64.75,177.48,23.00,79,75,13.42,RU,1607900759
4,4,Upernavik,72.79,-56.15,24.51,98,100,1.54,GL,1607900752

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df['Humidity']
weather_df['Humidity'].dtypes

dtype('int64')

In [5]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 max_intensity=max(humidity),
                                 dissipating=False,
                                 point_radius=2
                                )

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# conditions set for filtering the weather_df:
# max temp between 70F to 80F
# Humidity between 20% to 70%
# wind speed less than 10 mph
# zero cloudiness
hotel_df = weather_df.loc[(weather_df['Max Temp']>70)&(weather_df['Max Temp']<80)&(weather_df['Humidity']>20)&(weather_df['Humidity']<70)&(weather_df['Wind Speed']<10)&(weather_df['Cloudiness']==0),:]
hotel_df

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
129,129,Banikoara,11.30,2.44,76.77,21,0,3.83,BJ,1607900773
212,212,Kiryat Gat,31.61,34.76,73.99,55,0,3.36,IL,1607900781
241,241,New Norfolk,-42.78,147.06,75.99,46,0,5.01,AU,1607900783
290,290,Bosaso,11.28,49.18,73.56,54,0,4.43,SO,1607900606
306,306,Gusau,12.16,6.66,72.41,21,0,5.26,NG,1607900789
422,422,Salalah,17.02,54.09,71.60,30,0,8.05,OM,1607900800
499,499,San Juan,-31.54,-68.54,79.48,22,0,4.34,AR,1607900806
605,605,Kumta,14.42,74.40,74.14,59,0,5.84,IN,1607900813

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# set up additional column to hold information
hotel_df['Hotel Name'] = ""
hotel_df

<ipython-input-7-1073ea4502fb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ""

,City ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
129,129,Banikoara,11.30,2.44,76.77,21,0,3.83,BJ,1607900773,
212,212,Kiryat Gat,31.61,34.76,73.99,55,0,3.36,IL,1607900781,
241,241,New Norfolk,-42.78,147.06,75.99,46,0,5.01,AU,1607900783,
290,290,Bosaso,11.28,49.18,73.56,54,0,4.43,SO,1607900606,
306,306,Gusau,12.16,6.66,72.41,21,0,5.26,NG,1607900789,
422,422,Salalah,17.02,54.09,71.60,30,0,8.05,OM,1607900800,
499,499,San Juan,-31.54,-68.54,79.48,22,0,4.34,AR,1607900806,
605,605,Kumta,14.42,74.40,74.14,59,0,5.84,IN,1607900813,

In [8]:
# Create a parameters dictionary that will be updated with city latitude and longitude with each iteration
params = {
    "types": "lodging",
    "radius": 5000,
    "key": g_key
}

# Loop through each city/coordinate and make API request
for index, row in hotel_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    city = row['City']
    country = row['Country']
    
    # get latitude and longitude for each city from df
    lat = row['Lat']
    lng = row['Lng']
    # update location key value in parameters dictionary
    params['location']=f"{lat},{lng}"
    
    # make request and get hotel data
    hotel_response = requests.get(base_url, params=params).json()
    #print(json.dumps(hotel_response, indent=4))
    
    # Incorporate a try-except to skip any missing data points.
    try: 
        # find the first hotel and its name from the results
        print(f"The first hotel in {city},{country} is {hotel_response['results'][0]['name']}.")
        # update the df's new column with hotel name
        hotel_df.loc[index, 'Hotel Name'] = hotel_response['results'][0]['name']
    except IndexError:
        print(f"Hotel not found in {city}, {country}. Skipping...")
        hotel_df.loc[index, 'Hotel Name'] = 'NA'

The first hotel in Banikoara,BJ is H担tel de l'UCom CVPC.

/Users/xm/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

The first hotel in Kiryat Gat,IL is OlusHome.
The first hotel in New Norfolk,AU is The Shingles Riverside Cottages.
The first hotel in Bosaso,SO is Red Sea Hotel.
The first hotel in Gusau,NG is Dr. Salisu Ibrahim.
The first hotel in Salalah,OM is HAMDAN PLAZA HOTEL.
The first hotel in San Juan,AR is Hotel Provincial.
The first hotel in Kumta,IN is Hotel Vaibhav Palace.

In [9]:
# Create a new df containing new index start from 1, city name, country, Latitude, Longitude, and hotel name
hotel_df = hotel_df[['City', 'Country', 'Lat', 'Lng', 'Hotel Name']]
hotel_df.index = np.arange(1, len(hotel_df)+1)
hotel_df

          City Country    Lat     Lng                       Hotel Name
1    Banikoara      BJ  11.30    2.44             H担tel de l'UCom CVPC
2   Kiryat Gat      IL  31.61   34.76                         OlusHome
3  New Norfolk      AU -42.78  147.06  The Shingles Riverside Cottages
4       Bosaso      SO  11.28   49.18                    Red Sea Hotel
5        Gusau      NG  12.16    6.66               Dr. Salisu Ibrahim
6      Salalah      OM  17.02   54.09               HAMDAN PLAZA HOTEL
7     San Juan      AR -31.54  -68.54                 Hotel Provincial
8        Kumta      IN  14.42   74.40             Hotel Vaibhav Palace

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))